{% extends "blog.html" %}

{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p>
            <!-- Display the author's username -->
            <em>by {{ post.author.username }} on {{ post.created_on|date:"F d, Y" }}</em>
        </p>
        <div>
            {{ post.content|linebreaksbr }}
        </div>
        <hr>

        {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'post_update' slug=post.slug %}" class="btn btn-primary">Edit Post</a>
            <a href="{% url 'post_delete' slug=post.slug %}" class="btn btn-danger">Delete Post</a>
        {% endif %}
        
        <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to Post List</a>
    </article>
{% endblock %}
